<html> 

<head>
<title>ML model</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body
{
	color: #336699;
}
</style>
</head>
<body align='center' >
	<br><br>
    <h1>Content Style Identifier</h1>
    <img id="output" height="200" width="300" src='F:\Sinjore\AI.png' />
    <br><br>
     <form action="/predict" method="post" enctype="multipart/form-data">
     <label>Content</label>
	 <input name="ParagraphContent" >
     <input type="submit" value="Predict"> 
	 <h1 id='result'/>
	
</body>

</html>
