<html> 

<head>
<title>ML model</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body
{
	color: #336699;
}
</style>
</head>
<body align='center' >
	<br><br>
    <h1>Content Style Identifier</h1>
    <img id="output" height="200" width="300" src='F:\Sinjore\AI.png' />
    <br><br>
     <form action="/predict" method="post" enctype="multipart/form-data">
     <label>Content</label>
	 <input name="ParagraphContent" >
     <input type="submit" value="Predict"> 
	 <h1 id='result'/>
	<script>
	var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  	};
	var l={{label}};
	var res = document.getElementById('result');
	if(l==0){
		res.innerHTML='Chest X-ray seems to be <b> normal. </b>';
		}
	else
	{   if(l==1)
	     {
		res.innerHTML='Possible <b> BACTERIAL </b>infection!!! Consult doctor and take proper medication !!! Get Well soon.';
		 }
		else
		{
		if(l==2){
		res.innerHTML='Possible <b> VIRAL </b>infection!!! Consult doctor and take proper medication !!! Get Well soon.';
		       }
		else
		{
		  if(l==3){
		res.innerHTML='Possible <b> COVID-19 </b> infection. Try to isolate yourself and consult doctor immediately !!! Get well soon';
		       }
		  else{
		    res.innerHTML='It was an <b> invalid image. </b>';}	   
		 }
		}
	}
	

  	
	</script>
</body>

</html>